<!DOCTYPE html>
{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
<html>
	{% load static %}
	<head>
		<meta charset="utf-8">
		<title>Add Employee</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
	</head>

	<body>
		{% block content %}

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <div class="container">
        <a href="{{request.META.HTTP_REFERER}}">Back</a>
            <h1>Add Employee</h1> 
            <br><br>
            <h2>{{ error }}</h2>
            <form method="POST">
                {% csrf_token %}
                <h3>Personal</h3><br>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.firstName | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.lastName | as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.birthDate | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.email | as_crispy_field }}
                    </div>
                </div>
                {{ employee_form.address | as_crispy_field }}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.employeeType | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.dateHired | as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.dateHired | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.dateFired | as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ employee_form.wage | as_crispy_field }}
                    </div>
                </div>
                <br>
                <h3>Experience</h3><br>

                {{ exp_formset.management_form }}

                {% for form in exp_formset %}
                    <div class="exp-formset">
                        {{ form.from_date }}
                        {% if exp_formset.from_date.errors %}
                            {% for error in exp_formset.from_date.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                        
                        <br>

                        {{ form.to_date }}
                        {% if exp_formset.to_date.errors %}
                            {% for error in exp_formset.to_date.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}

                        <br>

                        {{ form.text }}
                        {% if exp_formset.text.errors %}
                            {% for error in exp_formset.text.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}

                        <br>

                    </div>
                {% endfor %}

                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <!-- Include formset plugin - including jQuery dependency -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script>
            $('.exp-formset').formset({
                addText: 'add experience',
                deleteText: 'remove'
            });
        </script>
		{% endblock %}
	</body>
</html>
