<!DOCTYPE html>
{% extends 'home/base.html' %}
<html>
	{% load static %}
    <head>
        <meta charset="utf-8">
        <title>Create Experience</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
    </head>

    <body>
		{% block content %}
        <a href="{{request.META.HTTP_REFERER}}">Back</a>

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form class="form-horizontal h-100" method="POST" action="">
            {% csrf_token %}
            {{ exp_formset.management_form }}
            <table>
                <h1>TESTING EXPERIENCE FORMSET</h1><br>
                {% for form in exp_formset %}
                <div class="row form-row spacer">
                    <div class = "col-2">
                        <label>{{ form.name.label }}</label>
                    </div>

                    <!-- ADD link-formset SOMEHOW to make it work on the form!!! -->

                    <div class="col-4">
                        <div class="input-group">
                            <p class="link-formset">{{ form }}</p>
                            <!--TODO add form text and dates here-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>
            <input type="submit" value="Add" class="button"/>
        </form>
        <!-- Include formset plugin - including jQuery dependency -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script>
            $('.link-formset').formset({
                addText: 'add link',
                deleteText: 'remove'
            });
        </script>
        <script src="js/employee.js" type="text/javascript"></script>
		{% endblock %}
    </body>
</html>
