<!DOCTYPE html>
{% extends 'home/base.html' %}
<html>
	{% load static %}
    <head>
        <meta charset="utf-8">
        <title>Create Experience</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
    </head>

    <body>
		{% block content %}

        <form class = "form-horizontal" method = "POST" action = "">
            {% csrf_token %}
            {{ formset.management_form }}
            <table>
                {% for form in formset %}
                <div class="row form-row spacer">
                    <div class = "col-2">
                        <label>{{ form.name.label }}</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">

                            <!--TODO add form text and dates here-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>
        </form>

		{% endblock %}
    </body>
</html>
