<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	<head>
	{% block content %}
		<meta charset="utf-8">
		<title>Edit Employee Details</title>
        <link rel="stylesheet" href="{% static "css/edit_employee_detail.css" %}"/> 
	</head>

	<body>
        <a href="{{request.META.HTTP_REFERER}}">Back</a>
		{{ error }}

        <div id="wrapper" class="toggled">
            <!--Sidebar-->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Back
                        </a>
                    </li>
                    <li>
                        <a href"#">Image</a>
                    </li>
                    <li>
                        <a href="#">Personal</a>
                    </li>
                    <li>
                        <a href="#">Experience</a>
                    </li> 
                    <li>
                        <a href="#">Skills</a>
                    </li>
                    <li>
                        <a href="#">Experience</a>
                    </li>
                </ul>
            </div>
        </div>

		<h1>{{ emp.firstName }} {{ emp.lastName }}</h1>
        <img src="{{ emp.picture.url }}" width="300" height="300" alt="No image found.">
		<form method = "POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-success">Save</button>
		</form>
		
		<form method = "POST" action = "{% url 'employees:deleteEmployee' emp.id %}">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	</body>
	{% endblock %}
</html>
