<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	{% load static %}
	<head>
	{% block content %}
		<meta charset="utf-8">
		<title>Edit Employee Details</title>
        <link rel="stylesheet" href="{% static "css/edit_employee_detail.css" %}"/> 
	</head>

	<body>
        <a href="{{request.META.HTTP_REFERER}}">Back</a>
		{{ error }}

        <div id="wrapper" class="toggled">
            <!--Sidebar-->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Back
                        </a>
                    </li>
                    <li>
                        <a href"#">Image</a>
                    </li>
                    <li>
                        <a href="#">Personal</a>
                    </li>
                    <li>
                        <a href="#">Experience</a>
                    </li> 
                    <li>
                        <a href="#">Skills</a>
                    </li>
                    <li>
                        <a href="#">Experience</a>
                    </li>
                </ul>
            </div>
        </div>

	</body>
	{% endblock %}
</html>
