<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	<head>
	{% block content %}
		<meta charset="utf-8">
		<title>Edit Employee Details</title>
	</head>

	<body>
		{{ error }}

		<h1>{{ emp.firstName }} {{ emp.lastName }}</h1>
        <img src="{{ emp.picture.url }}" width="300" height="300" alt="No image found.">
		<form method = "POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-success">Save</button>
		</form>
		
		<form method = "POST" action = "{% url 'employees:deleteEmployee' emp.id %}">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	</body>
	{% endblock %}
</html>
