<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	{% load static %}
	<head>
		<meta charset="utf-8">
		<title>Employee Details</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
	</head>

	{% block content %}
	<body>
        <div class="row h-100">
            <div class="col-md-4" align="center">
                <img src="{{ emp.picture.url }}" width="300" height="300" alt="No image found.">
                <h1>{{ emp.firstName }} {{ emp.lastName }}</h1>
                <h3>Position</h3>
                <h3>Employee from xxxx to xxxx</h3>
            </div>
            <div class="col-md-8">
                <div class="row h-100">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Essentials</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><h5>First Name:</h5> {{ emp.firstName }}</p>
                                        <p><h5>Birth Date:</h5> {{ emp.birthDate }}</p>
                                        <p><h5>Rate:</h5> </p>
                                        <p><h5>Phone:</h5> </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><h5>Last Name:</h5> {{ emp.lastName }}</p>
                                        <p><h5>Email:</h5> {{ emp.email }}</p>
                                        <p><h5>Address:</h5> {{ emp.address }}</p>
                                        <p><h5>Emergency Contact:</h5> TODO: MAKE THIS A LINK</p>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Experience</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Skills</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Assignments</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><h5>First Name:</h5> {{ emp.firstName }}</p>
                                        <p><h5>Birth Date:</h5> {{ emp.birthDate }}</p>
                                        <p><h5>Rate:</h5> </p>
                                        <p><h5>Phone:</h5> </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><h5>Last Name:</h5> {{ emp.lastName }}</p>
                                        <p><h5>Email:</h5> {{ emp.email }}</p>
                                        <p><h5>Address:</h5> {{ emp.address }}</p>
                                        <p><h5>Emergency Contact:</h5> TODO: MAKE THIS A LINK</p>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
	{% endblock %}
</html>
