<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	<head>
	{% block content %}
	{% load static %}
		<meta charset="utf-8">
		<title>Employees</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
	</head>

	<body>
		
		<a href="{% url 'employees:addEmployee' %}">Add Employee</a>
		<table class="table table-hover table-borderless">
			<thead class="tablehead-custom">
				<tr>
                    <th scope="col">Date Hired</th>
					<th scope="col">Type</th>
					<th scope="col">Name</th>
					<th scope="col">Current Assignment</th>
                    <th scope="col">Edit</th>
				</tr>
			</thead>
			<tbody>

			{% for emp in emps  %}
				<tr scope="row"></th>
                <td>{{ emp.dateHired|date:"Y-M-d" }}</td>
				<td>{% if emp.employeeType == "executive" %}<b>{% endif %}
					{{ emp.employeeType }}
				{% if emp.employeeType == "executive" %}</b>{% endif %}</td>
				<td>{{ emp.lastName }}, {{ emp.firstName }}</td>
				<td>{{ emp.cur_assigment }}</td>
                <td><a class="btn btn-info btn-small tbl-custom-btn" href="{% url 'employees:viewEmployee' emp.id %}">Open</a>
			{% endfor %}
				
			</tbody>
		</table>
		
	</body>
	{% endblock %}
</html>
