<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	{% load static %}
	<head>
		<meta charset="utf-8">
		<title>Employee Details</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
	</head>

	{% block content %}
	<body>
        <a href="{{request.META.HTTP_REFERER}}">Back</a>
        <!--<a href="{% url 'employees:editEmployee' emp.id %}">Edit</a>-->
        <div class="row h-100">
            <div class="col-md-4" align="center">
                <div class="card border-0">
                    <img class="card-img-top img-responsive" src="{{ emp.picture.url }}" alt="No image found.">
                    <div class="card-body">
                        <h1 class="card-title">{{ emp.firstName }} {{ emp.lastName }}</h1>
                        <h5 class="card-text">Position</h5>
                        <h5 class="card-text">Employee from xxxx to xxxx</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Essentials</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><h5>First Name:</h5> {{ emp.firstName }}</p>
                                        <p><h5>Birth Date:</h5> {{ emp.birthDate }}</p>
                                        <p><h5>Rate:</h5> </p>
                                        <p><h5>Phone:</h5> </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><h5>Last Name:</h5> {{ emp.lastName }}</p>
                                        <p><h5>Email:</h5> {{ emp.email }}</p>
                                        <p><h5>Address:</h5> {{ emp.address }}</p>
                                        <p><h5>Emergency Contact:</h5> TODO: MAKE THIS A LINK</p>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div id="employeeDetailCarousel" class="carousel slide" data-interval="false" data-ride="carousel">

                                <!--Controls-->
                                <div class="controls-top">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="option_skill" autocomplete="off" href="#employeeDetailCarousel" data-slide-to="0" checked>Skills
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="option_experience" autocomplete="off" href="#employeeDetailCarousel" data-slide-to="1">Experience
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="option_assignments" autocomplete="off" href="#employeeDetailCarousel" data-slide-to="2">Assignments
                                        </label>
                                    </div>
                                </div>
                                <!--End Controls-->
                                
                                <!--Carousel Content-->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <h1>Skills</h1>
                                    </div>
                                    <div class="carousel-item">
                                        <h1>Experience</h1>
                                    </div>
                                    <div class="carousel-item">
                                        <h1>Assignments</h1>
                                    </div>
                                </div>
                                <!--End Carousel Content-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
	{% endblock %}
</html>
