<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	<head>
	{% block content %}
		<meta charset="utf-8">
		<title>Employee Details</title>
	</head>

	<body>
        <div class="row">
            <div class="col-sm-4" align="center">
                <img src="{{ emp.picture.url }}" width="300" height="300" alt="No image found.">
                <h1>{{ emp.firstName }} {{ emp.lastName }}</h1>
            </div>
            <div class="col-sm-8">
                <p>Just a test</p>
            </div>
        </div>
	</body>
	{% endblock %}
</html>
