<!DOCTYPE html>
{% load static %}
{% extends 'home/base.html' %}


<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
	</head>

	<body>
	{% block content %}
		
		<h1>Template activated!</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
				</tr>
			</thead>
			<tbody>
			{% for emp in emps  %}
				<tr scope="row"></th>
				<td>{{ emp.firstName }}</td>
				<td>{{ emp.lastName }}</td>
			{% endfor %}
				
			</tbody>
		</table>
		
	{% endblock %}
	</body>
</html>

{% endblock %}
