<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	{% block content %}
	{% load static %}
	<head>
		<meta charset="utf-8">
		<title>Company Manager</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
	</head>

	<body>
		<div class="container">		
			<div class="jumbotron">
  				<h1 class="display-4">Welcome</h1>
  				<p class="lead">Control all your employess from here!</p>
  				<hr class="my-4">
  				<p>No, really.</p>
  				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</div>
		</div>
	</body>
	{% endblock %}
</html>
