<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	{% load static %}
	<head>
		<meta charset="utf-8">
		<title>Company Manager</title>
		<link rel="stylesheet" href="{% static "css/default.css" %}"/>
	</head>

	<body>
		{% block content %}
            <div class="container">
                <div class="jumbotron">
                  <h1 class="display-4">Welcome!</h1>
                  <p class="lead">New users sign up here.</p>
                  <p class="lead">
                  <a class="btn btn-primary btn-lg" href="{% url 'home:signupuser' %}" role="button">Sign up</a>
                  </p>
                  <hr class="my-4">
                  <p>Already a member? Log in here.</p>
                  <p class="lead">
                  <a class="btn btn-primary btn-lg" href="{% url 'home:loginuser' %}" role="button">Log in</a>
                  </p>
                </div>
            </div>
		{% endblock %}
	</body>
</html>
