<!DOCTYPE html>
{% extends 'home/base.html' %}

<html>
	<head>
	{% block content %}
		<meta charset="utf-8">
		<title>Blog</title>
	</head>

	<body>
		<div class="container text-center">
			<h1><b>The Blog</b></h1>
			<h2>{{ blog_count }} blog{{ blogs.count|pluralize }} </h2>
		</div>
		<div class="container">
			{% for blog in blogs %}	
			<a href="{% url 'blog:detail' blog.id %}"><h1>{{ blog.title }}</h1></a>
			<h2>{{ blog.postDate }}</h2>
			<p>{{ blog.text|truncatechars:100 }}</p>
			{% endfor %}
		</div>

	{% endblock %}
	</body>
</html>
